In [1]:
l = [1,2,3,4,5,"sudh","Kumar",45.56]

In [3]:
for i in l:
    print(i)

1
2
3
4
5
sudh
Kumar
45.56

In [4]:
for i in l:
    pass

In [6]:
s = "sudh"
for i in s:
    print(i)

s
u
d
h

In [7]:
for i in l:
    print(i)
else:
    print("if for loop is going to complete itself the it will execute else")

1
2
3
4
5
sudh
Kumar
45.56
if for loop is going to complete itself the it will execute else

In [8]:
l

[1, 2, 3, 4, 5, 'sudh', 'Kumar', 45.56]

In [9]:
for i in l:
    if i==4:
        break;
    print(i)
else:
    print("this will execute only if for is going to complete itself")

1
2
3

In [10]:
s = "Sushilkumar"
for i in s:
    if i == 'k':
        break;
    print(i)
else:
    print("print string", s)

S
u
s
h
i
l

In [11]:
t = (4,5,6,7,8,6,"sudh")
for i in t:
    print(i)

4
5
6
7
8
6
sudh

In [12]:
b = {4,5,6,7,7,7,7,7,7,7,7,7,7,7,7,7,8,"sudh"}

In [13]:
type(b)

set

In [14]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [15]:
for i in b:
    print(i)

4
5
6
7
8
sudh

In [16]:
d = {'key1':"sudh",'contact':"sudhanshu@ineuron","position":"xyz"}

In [17]:
for i in d:
    print(i)

key1
contact
position

In [18]:
for i in d:
    print(d[i])

sudh
sudhanshu@ineuron
xyz

In [19]:
d['key1']

'sudh'

In [20]:
for i in d:
    print(i,d[i])

key1 sudh
contact sudhanshu@ineuron
position xyz

In [22]:
range(9)

range(0, 9)

In [23]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [34]:
for i in range(0,5):
    for j in range(0,i):
        print("Sudharshan",end = " ")
    print("\n")

Sudharshan

Sudharshan Sudharshan

Sudharshan Sudharshan Sudharshan

Sudharshan Sudharshan Sudharshan Sudharshan

In [35]:
for i in range(0,4):
    for j in range(0,i+1):
        print("Sudharshan",end = " ")
    print("\n")

Sudharshan

Sudharshan Sudharshan

Sudharshan Sudharshan Sudharshan

Sudharshan Sudharshan Sudharshan Sudharshan

In [139]:
s1 = "Sudarshan"
for i in range(0,4):
    for j in range(0,i+1):
        s1.center(len(s1)*j,'#')
    print("\n")

'#############Sudarshan##############'

In [27]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [28]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [29]:
list(range(0,9,-1))

[]

In [30]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [89]:
n = 4
for i in range(0,n):
    for k in range(n,i,-1):
        print(" ",end = " ")
    for j in range(0,i+1):
        print("Sudh",end = " ")
    print()

        Sudh
      Sudh Sudh
    Sudh Sudh Sudh
  Sudh Sudh Sudh Sudh

In [47]:
t = (3,23,45,67,2,4,5,6)
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [54]:
s = "ineuron"
for i in range(len(s),0,-1):
    print(i-1,s[i-1])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [56]:
s = "ineuron"
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [57]:
d

{'key1': 'sudh', 'contact': 'sudhanshu@ineuron', 'position': 'xyz'}

In [60]:
for i in d.items():
    print(i,type(i),type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [61]:
list1 = ["Geet","Minu",45567,"gitumali12@gmail.com",345,346777]

In [63]:
list2=[]
for i in list1:
    if type(i) == int:
        list2.append(i)
print(list2)

[45567, 345, 346777]

In [69]:
dict1 = {1 : 344667 , "name": 'Git',"email_id":"gitumali12@gmail.com",234:"fsdfgh","43":"sfsaf",234:"45678"}
list2=[]
for i in dict1:
    if type(i) == int:
        list2.append([i,dict1[i]])
print(list2)

[[1, 344667], [234, '45678']]

In [74]:
s4 = "aaaabbccd"
set1 = set(s4)
for i in set1:
    print(i,s4.count(i))

d 1
b 2
a 4
c 2

In [80]:
print(dict(("py","th")))

{'p': 'y', 't': 'h'}

In [82]:
x,y = (0,1) if True else None
print(x)

0

In [85]:
x,y = (0,1) if True else None,None
print(x)

(0, 1)

In [132]:
n = 4
for i in range(0,n):
    for k in range(n,i+1,-1):
        print(" ",end = " ")
    for j in range(0,i+1):
        print("*",end = " ")
    for m in range(i):
        print("*",end = " ")
    print()
for i in range(n,0,-1):
    for k in range(i-1,n):
        print(" ",end=" ")
    for j in range(i-1):
        print("*",end = " ")
    for m in range(i-2):
        print("*",end = " ")
    print()

      *
    * * *
  * * * * *
* * * * * * *
  * * * * *
    * * *
      *

In [123]:
list(range(4,0,-1))

[4, 3, 2, 1]

In [156]:
s2 = "Sudarshan"
n = 4
for i in range(0,n):
    for k in range(n,i+1,-1):
        print(" "*len(s2),end = " ")
    for j in range(0,i+1):
        print(s2,end = " ")
    for m in range(i):
        print(s2,end = " ")
    print()

                              Sudarshan
                    Sudarshan Sudarshan Sudarshan
          Sudarshan Sudarshan Sudarshan Sudarshan Sudarshan
Sudarshan Sudarshan Sudarshan Sudarshan Sudarshan Sudarshan Sudarshan

In [191]:
s2 = "Sudarshan"
n=4
for i in range(0,n):
    print((s2*(i+1)).center((len(s2)*n),' '))

             Sudarshan
         SudarshanSudarshan
    SudarshanSudarshanSudarshan
SudarshanSudarshanSudarshanSudarshan